.swagger-ui .topbar {
    background-color: #007BFF;
}

.swagger-ui .info .title {
    color: #007BFF;
}

.swagger-ui .opblock-tag {
    font-size: 1.2em;
    font-weight: 600;
}

.swagger-ui .opblock.opblock-post {
    border-color: #28A745;
    background: rgba(40, 167, 69, 0.1);
}

.swagger-ui .opblock.opblock-get {
    border-color: #007BFF;
    background: rgba(0, 123, 255, 0.1);
}

.swagger-ui .opblock.opblock-delete {
    border-color: #DC3545;
    background: rgba(220, 53, 69, 0.1);
}

.swagger-ui .opblock.opblock-put {
    border-color: #FFC107;
    background: rgba(255, 193, 7, 0.1);
}
